.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s ease;
}

/* Затемнение и иконка карандаша */
.profile__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8) url('/src/images/edit-icon.svg') no-repeat center;
  background-size: 26px 26px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__image:hover::after {
  opacity: 1;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}


@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}